USE [Customer-Order]
GO
/****** Object:  StoredProcedure [dbo].[ThirdProcedure]    Script Date: 22-1-26 11:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[ThirdProcedure]
	-- Add the parameters for the stored procedure here
	@orderid int,
	@orderDate date
AS
BEGIN
	select *  from Orders where OrderId=@orderid or OrderDate=@orderDate;
END
