USE [master]
GO
/****** Object:  Database [CursorImplementation]    Script Date: 5-2-26 11:44:27 ******/
CREATE DATABASE [CursorImplementation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CursorImplementation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CursorImplementation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CursorImplementation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CursorImplementation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CursorImplementation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CursorImplementation]
GO
/****** Object:  Table [dbo].[PriceChangeLog]    Script Date: 5-2-26 11:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceChangeLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[OldPrice] [decimal](10, 2) NOT NULL,
	[NewPrice] [decimal](10, 2) NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5-2-26 11:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQty] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReorderLog]    Script Date: 5-2-26 11:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReorderLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Message] [varchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PriceChangeLog] ON 

INSERT [dbo].[PriceChangeLog] ([LogId], [ProductId], [OldPrice], [NewPrice], [ChangedAt]) VALUES (1, 3, CAST(1899.00 AS Decimal(10, 2)), CAST(1993.95 AS Decimal(10, 2)), CAST(N'2026-02-05T11:22:19.3691199' AS DateTime2))
INSERT [dbo].[PriceChangeLog] ([LogId], [ProductId], [OldPrice], [NewPrice], [ChangedAt]) VALUES (2, 3, CAST(1993.95 AS Decimal(10, 2)), CAST(2093.65 AS Decimal(10, 2)), CAST(N'2026-02-05T11:22:37.2137593' AS DateTime2))
INSERT [dbo].[PriceChangeLog] ([LogId], [ProductId], [OldPrice], [NewPrice], [ChangedAt]) VALUES (3, 3, CAST(2093.65 AS Decimal(10, 2)), CAST(2198.33 AS Decimal(10, 2)), CAST(N'2026-02-05T11:39:19.8642888' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PriceChangeLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Category], [Price], [StockQty], [IsActive], [CreatedAt]) VALUES (1, N'Wireless Mouse', N'Electronics', CAST(799.00 AS Decimal(10, 2)), 50, 1, CAST(N'2026-02-05T11:20:11.3128564' AS DateTime2))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Category], [Price], [StockQty], [IsActive], [CreatedAt]) VALUES (2, N'Mechanical Keyboard', N'Electronics', CAST(2499.00 AS Decimal(10, 2)), 25, 1, CAST(N'2026-02-05T11:20:11.3128564' AS DateTime2))
INSERT [dbo].[Products] ([ProductId], [ProductName], [Category], [Price], [StockQty], [IsActive], [CreatedAt]) VALUES (3, N'Running Shoes', N'Fashion', CAST(2198.33 AS Decimal(10, 2)), 40, 1, CAST(N'2026-02-05T11:20:11.3128564' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ReorderLog] ON 

INSERT [dbo].[ReorderLog] ([LogId], [ProductId], [Message], [CreatedAt]) VALUES (1, 6, N'Reorder needed for USB-C Cable (Stock=15)', CAST(N'2026-02-05T11:21:44.7355454' AS DateTime2))
INSERT [dbo].[ReorderLog] ([LogId], [ProductId], [Message], [CreatedAt]) VALUES (2, 2, N'Reorder needed for Mechanical Keyboard (Stock=25)', CAST(N'2026-02-05T11:21:44.7365406' AS DateTime2))
INSERT [dbo].[ReorderLog] ([LogId], [ProductId], [Message], [CreatedAt]) VALUES (3, 7, N'Reorder needed for Gym Gloves (Stock=28)', CAST(N'2026-02-05T11:21:44.7365406' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ReorderLog] OFF
GO
ALTER TABLE [dbo].[PriceChangeLog] ADD  DEFAULT (sysdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReorderLog] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([StockQty]>=(0)))
GO
USE [master]
GO
