USE [Customer-Order]
GO
/****** Object:  StoredProcedure [dbo].[SecondProcedure]    Script Date: 22-1-26 11:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Second Procedure
--create procedure SecondProcedure
ALTER procedure [dbo].[SecondProcedure]
as
Begin
	Declare @total int;
	Select @total=COUNT(*) from Customers;
	if @total>2
		Print('More than 2');
	else
		Print('Less than 2');
end


