USE [master]
GO
/****** Object:  Database [lpuDB]    Script Date: 22-1-26 14:33:19 ******/
CREATE DATABASE [lpuDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lpuDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\lpuDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'lpuDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\lpuDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lpuDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lpuDB]
GO
/****** Object:  Table [dbo].[tbl_dept]    Script Date: 22-1-26 14:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dept](
	[Id] [int] NULL,
	[deptName] [varchar](50) NULL,
	[empId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_dept] ([Id], [deptName], [empId]) VALUES (1, N'Sales', NULL)
INSERT [dbo].[tbl_dept] ([Id], [deptName], [empId]) VALUES (2, N'Sales', NULL)
INSERT [dbo].[tbl_dept] ([Id], [deptName], [empId]) VALUES (3, N'Tech', NULL)
GO
USE [master]
GO
